{% extends 'base.html'  %}
{% load static %}
{% block title %}Советы по созданию резюме{% endblock %}
{% block content %} 
<head>
<title>Советы по созданию резюме</title>
</head>
 <header>
 </header>
 <div class="container">
 <div class="block1">
<h3> Советы по созданию резюме</h3>
<p > 
Составление резюме — это первый и ключевой шаг в поиске работы. Ваше резюме не просто перечисляет ваши навыки и опыт, но и отражает ваш профессиональный имидж. В этой статье мы поделимся советами и рекомендациями, которые помогут вам создать привлекательное и эффективное резюме, способное заинтересовать потенциальных работодателей.
</p>
<font class="h3"><div align=center>Что такое резюме и зачем его составлять</div> </font>
<p>
<IMG src="{% static "Карьера!!!.jpg" %}"  alt="карьера" width = 250 align=right hspace=10 >
Резюме — это документ, в котором представлена информация о вашем профессиональном опыте, образовании, навыках и достижениях. Оно является основным инструментом при поиске работы, так как позволяет работодателям быстро оценить вашу квалификацию и опыт, чтобы понять, насколько вы подходите на открытую вакансию. Составить качественное резюме важно по нескольким причинам:
<ul> 
<li><b>Первое впечатление. </b>Резюме часто служит первым впечатлением о вас как о специалисте. Оно должно быть чётко структурировано и лаконично отражать ваш профессиональный путь.
<li><b> Маркетинговый инструмент.</b> Эффективное резюме действует как маркетинговый инструмент, выделяя ваши уникальные квалификации и навыки, которые делают вас идеальным кандидатом для должности. 
<li><b>Организационная функция. </b>Помогает систематизировать ваш профессиональный опыт и образование, давая вам чёткое представление о своих достижениях и областях для развития.
</ul>
</p>
 </div>
 </div>
{% endblock %}
