{% extends 'base.html'  %}
{% load static %}
{% block title %} Контакты центра карьеры{% endblock %}
<head>
<title> Контакты центра карьеры</title>
</head>

{% block content %} 
 <header>
 </header>
 <div class="container">
 <div class="block1">
<h3> Центр карьеры ОмГТУ </h3>
<p >
Центр карьеры ОмГТУ — структурное подразделение университета, которое осуществляет сопровождение обучающихся и выпускников на всех ступенях профессионального развития от получения практической подготовки во время обучения до трудоустройства.. </p>
<p >
Контакты подразделения:
<ul>
<li> Адрес: Россия, Омск, пр. Мира, 11
<li>E-mail: <A href="mailto:career.center@omgtu.ru"> career.center@omgtu.ru</A>
<li>Телефон: +7 (3812) 62-91-01
<li>ВК:<A href="https://vk.com/public69518842"> https://vk.com/ckomgtu_55</A>
<li>Телеграмм:<A href="http://t.me/centromgsu"> http://t.me/centromgsu</A> 
</ul>
<font color=green>
Немного юмора и афоризмов ;-))): <ul>
<li>Легка карьера лишь от злато-нефте-газо карьеров.
<li> Карьеру в демократическом обществе чаще делают размеренно, чем лошадиным карьером, а в авторитарном, – наоборот.
<li> Чтобы окружающий мир изменялся, надо не только ждать, но и менять его и самому меняться…
<li> У карьерной лестницы скользкие ступени…
<li>По карьерной лестнице поднимаются тяжело, как в гору, но спускают сломя голову как в пропасть.
</ul>
</font></p>
 </div>
 </div>

{% endblock %}
