{% extends 'base.html'  %}
{% load static %}
{% block title %}Советы по поиску работы и развитию карьеры{% endblock %}
<head>
<title>Советы по поиску работы и развитию карьеры</title>
</head>

{% block content %} 
 <header>
 </header>
 <div class="container">
 <div class="block1">
<h3> Советы по поиску работы и развитию карьеры </h3> 
<p >
Центр карьеры ОмГТУ — структурное подразделение университета, которое осуществляет сопровождение обучающихся и выпускников на всех ступенях профессионального развития от получения практической подготовки во время обучения до трудоустройства.c </p>
<p> Центр карьеры помогает студентам и выпускникам в определении личной профессиональной стратегии и построении карьеры. 
<br> Здесь можно: </p>
<p ><ol>
<li>найти и пройти практику в интересных компаниях; 
<li>найти подходящие стажировки и вакансии;
<li>продумать свой карьерный путь на несколько лет вперёд;
<li>найти работодателя и работу, которая приносит пользу, удовольствие и деньги.
</ol><div class="crazy"    align=center>
<IMG src="{% static "pic.png" %}"  alt="карьера" width = 500 ></div>
</p>
 </div>
 </div>
{% endblock %}
